/*
Item Name : Circular Countdown jQuery Plugin
Author URI : http://codecanyon.net/user/Pixelworkshop/
Version : 1.0
*/



/*

Page styling (optionnal)

*/

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:12px;
	line-height:21px;
	color:#888888;
	text-shadow:1px 1px 1px #FFFFFF;
	background: url("../img/groovepaper.png") repeat;
	padding-bottom: 1px;
}




/*  _______________________________________

	COUNTDOWN
    _______________________________________  */
	


/* 
   IMPORTANT
   The exact same width must be set to the #countdown_container and to the canvas
   element #circular_countdown in the HTML markup !
*/

#countdown_container {
	width: 800px;
	margin: 0 auto;
	display: block;
	/*
	Additional styling
	*/
	padding: 40px;
	margin: 120px auto;
	border-radius:6px;
	background:#ffffff;
	background:rgba(255,255,255,0.6);
	border:1px solid #dddddd;
	border:1px solid rgba(255,255,255,0.6);
	box-shadow:0 2px 12px #DDDDDD;
}
#countdown_container h1 {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:28px;
	font-weight: normal;
	font-style:italic;
	text-align:center;
	color:#212121;
	line-height:36px;
	margin:0 auto 42px auto;
	text-align:center;
}

#countdown_timer,
#countdown_timer ul,
#circular_countdown {
	position: relative;
	width:100%;
	margin: 0 auto;
	padding: 0;
	text-align: center;
}
#countdown_clock {
	position:relative;
	z-index:1;
	margin: 0;
	padding:0;
}
#countdown_timer {
	z-index:2;
}
	#countdown_timer li {
		list-style: none;
		padding: 18px 0 8px 0;
		margin-top: 42px;
		float: left;
		width: 20%;
		color:#333333;
		font-size: 9px;
		position: absolute;
		text-align: center;
		text-transform:uppercase;
	}
		#countdown_timer li.days {
			left:0;
		}
		#countdown_timer li.hours {
			left:26.667%;
		}
		#countdown_timer li.minutes {
			left:53.334%;
		}
		#countdown_timer li.seconds {
			left:80%;
		}
		#countdown_timer li em {
			display: block;
			font-size:32px;
			line-height:30px;
			font-weight:bold;
			font-style: normal;
			padding:0;
		}

/*
Markup to keep a decent layout under IE8 and below
*/

/* IE8 */

@media \0screen {
	#countdown_timer {
		height: 130px;
	}
	#countdown_container h1 {
		margin:0 auto;
	}
}

/* IE7 and below */

#countdown_timer {
	*height: 130px;
}
#countdown_container h1 {
	*margin:0 auto;
}